.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 2rem;
  align-content: center;
  margin: 2rem;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: auto auto;
  }
}
